* {
  font-family: Comic Sans, Comic Sans MS, cursive;
}

body {
  text-align: center;
background: -moz-linear-gradient(top,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%);
background: -webkit-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
background: linear-gradient(to bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );

}
h1 {
  color: rgb(32, 18, 122);
  font-weight: bolder;
  border-style: solid;
  border-color: rgb(32, 18, 122);
  width: 300px;
  display: inline-block;
}

h2 {
  font-weight: bold;
  border-style: solid;
  border-color: black;
  width: 300px;
  display: inline-block;
}

li {
  border-style: ridge;
  border-color: rgb(62, 176, 31);
  padding: 10px;
  width: 300px;
  text-align: center;
}

.movie {
  overflow-y:scroll;
  width: auto;
  height: 200px;
  padding-left: 50px;
}

ul, ol {
   margin-left: auto;
   margin-right: auto;
   display: inline-block;
 }
